body, html {width: 100%; height: 100%; margin: 0px}
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  color: #898989;
}
a {
  color: rgb(0, 137, 123);
}
@media screen and (max-width: 450px) {
  .nouser-box{
    width: 320px !important;
  }
}
label {
  font-size: 12px;
}
hr {
  box-shadow: none;
  border-style: solid;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-color: #ECEFF1;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img-in-text {
  vertical-align:middle;
}
.auth-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #263238;
}
.auth-container:before, .auth-container:after {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  content: '';
  display: block;
  height: 24px;
}
.nouser-box {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  min-height: 0;
  width: 450px;
  background-color: white;
}
.nouser-box-contain {
  height: auto;
  width: auto;
  min-height: 300px;
  overflow-y: auto;
  padding: 25px 20px 20px;
  box-sizing: border-box;
}
.nouser-box-contain > *{
  display: block;
}
.nouser-box-contain-title{
  height: 35px;
  line-height: 35px;
}
.nouser-box-contain-title > *{
  line-height: inherit;
  font-size: 13px;
  font-weight: normal;
  height: inherit;
  margin: 0;
  display: inline-block;
  vertical-align:middle
}
.nouser-box-contain-form {
  height: auto;
  width: 100%;
}
.nouser-box-contain-form > *{
  margin: 0 0 16px 0;
}
.nouser-box-contain-bottom {
  font-size: 12px;
}
.input-flat {
  border-width: 1px;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
  transition: 0.3s;
  border-style: solid;
  border-color: #ECEFF1;
  transition: 0.35s;
}
.input-flat:hover {
  border-width: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.input-flat:focus {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.button-flat {
  outline: none;
  font-family: inherit;
  display: block;
  height: 45px;
  width: 100%;
  padding: 6px;
  border: none;
  font-size: 1.3rem!important;
  background-color: rgb(229, 57, 53);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.35s;
  box-sizing: border-box;
}
.button-flat:hover {
  background: rgb(40,40,40);
  font-size: 1.4rem!important;
}
.button-flat:focus {
  background: rgb(40,40,40);
  font-size: 1.4rem!important;
}
.nouser-settings-list li{
  padding: 0;
  border-radius: 3px;
  margin: 0;
  transition: 0.35s;
}
.nouser-settings-list-detail{
  transition: 0.35s;
}
.nouser-settings-list-detail:hover{
  background-color: #f4f4f4;
}
.nouser-settings-list-detail:hover label{
  font-size: 14px;
}
.nouser-settings-list-detail:hover p{
  padding: 0 0 0 10px;

  font-size: 23px;
}
.nouser-settings-list-detail label{
  transition: 0.35s;
  font-size: 12px;
}
.nouser-settings-list-detail p{
  min-height: 18px;
  padding: 0 0 0 5px;
  transition: 0.35s;
  font-size: 18px;
  color: #424242;
  margin: 0;
}
.nouser-settings-list-textinput{
  background-color: inherit;
  border: none;
  width: 90%;
  font-size: 23px;
}
input:focus, textarea:focus {
  outline: none;
}
.messages-container {
  width: 100%;
  /* max-height: 350px;
  min-height: 300px; */
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ECEFF1;
  background-size: 256px 64px;
  background-position: center;
  background-repeat: no-repeat;
}
.messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.messages li {
  position: relative;
  padding: 5px 10px;
  height: auto;
  line-height: 13px;
  box-sizing: border-box;
  /*jelly anime*/
  -webkit-animation-name: animJelly;
  animation-name: animJelly;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  }
.messages li:nth-child(even) { background: white; }
.messages li:nth-child(odd) { background: #eee; }
